<div class="card">
    <div class="stats-card">

        <div class="header">
            <div class="float-left key">
                <% if(data.iconSource){ %>
                    <img src="<%- data.iconSource %>" class="favicon">
                <% } %>
                <% if(data.link){ %>
                    <a href="<%- data.link %>"><%- data.name %></a>
                <% } else { %>
                    <%- data.name %>
                <% } %>
            </div>
            <div class="float-right value">
                <div class="up-badge">
                    <% if(data.up){ %>
                        <span class="fa-stack">
                    <i class="fas fa-circle fa-stack-2x green"></i>
                    <i class="fas fa-check fa-stack-1x fa-inverse"></i>
                </span>
                    <% } else { %>
                        <span class="fa-stack">
                    <i class="fas fa-circle fa-stack-2x red"></i>
                    <i class="fas fa-times fa-stack-1x fa-inverse"></i>
                </span>
                    <% } %>
                </div>
            </div>
            <div class="clearfix">
            </div>
            <% if(data.url){ %>
                <a href="<%- data.url %>"><%- data.url %></a>
            <% } %>
        </div>


        <div class="stats">
            <div class="row">
                <div class="col-3">
                    <div class="key">Uptime</div>
                    <div class="value"><%- data.uptime.toFixed(2) %>%</div>
                </div>
                <div class="col-3">
                    <div class="key">Response time</div>
                    <div class="value"><%- Math.ceil(data.responseTime) %> ms</div>
                </div>
                <div class="col-3">
                    <div class="key">Apdex</div>
                    <div class="value"><%- data.apdex.toFixed(2) %></div>
                </div>
                <div class="col-3">
                    <div class="key">Outages</div>
                    <div class="value"><%- data.outages %></div>
                </div>
            </div>
        </div>
        <% if(data.responses){ %>
            <div class="graph">
                <canvas id="chart-<%- data.name %>" width="100%" height="20px"></canvas>
            </div>
        <% } %>

    </div>
</div>
<% if(data.responses){ %>
    <script>
        var responses = <%- JSON.stringify(data.responses) %>;

        var ctx = document.getElementById("chart-<%- data.name %>").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: responses.map(function (r) {
                    return moment(r.createdAt).calendar();
                }),
                datasets: [{
                    label: 'ms',
                    data: responses.map(function (r) {
                        return r.responseTime.toFixed(2);
                    }),
                    fill: 'start',
                    backgroundColor: responses.map(function (r) {
                        return r.up ? '#64EDC6' : '#ff7675';
                    }),
                    // backgroundColor: [
                    //     '#64EDC6'
                    // ],
                    borderColor: responses.map(function (r) {
                        return r.up ? '#64EDC6' : '#ff7675';
                    }),
                    // borderColor: [
                    //     '#64EDC6'
                    // ],
                    borderWidth: 1
                }]
            },
            options: {
                animation: false,
                legend: {
                    display: false
                },
                // elements: {point: {radius: 0, hitRadius: 30, hoverRadius: 0}},
                scales: {
                    yAxes: [{
                        gridLines: {
                            display: false,
                            drawBorder: false
                        },
                        ticks: {
                            display: false,
                            suggestedMin: -1
                            // beginAtZero: true
                        }
                    }],
                    xAxes: [{
                        gridLines: {
                            display: false,
                            drawBorder: false
                        },
                        ticks: {
                            display: false //this will remove only the label
                        }
                    }]
                },
                tooltip: {
                    mode: 'label'
                }
            }
        });
    </script>
<% } %>
